<h1>Start#index</h1>
<ul>
    <li><%= link_to "Entries", controller: "entries" %></li>
    <li><%= link_to "Days", controller: "days" %></li>
    <li><%= link_to "Activities", controller: "activities" %></li>
</ul>
